.mat-step-header .mat-step-icon {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, .87);
}

.mat-step-label {}

.mat-horizontal-stepper-header-container .mat-horizontal-stepper-header {
    height: 48px;
}

.mat-horizontal-stepper-header {
    padding: 0px 10px;
}

.mat-step-text-label {
    font-size: 0.8em;
    text-transform: uppercase;
}