<div>

    <div fxLayout="row">
        <iframe width="1024" fxFlex height="420" src="https://www.youtube.com/embed/NjnDI60V2Vs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="story" fxLayout="row" fxLayoutGap="20px">
        <mat-card fxFlex>
            <mat-card-header>
                <mat-card-title>The Travel Suit</mat-card-title>
                <mat-card-subtitle>Agosto 2018 —FALL WINTER EDIT 2018</mat-card-subtitle>
            </mat-card-header>
            <!-- <img mat-card-image src="assets/img/medium/travel1.jpg" alt=""> -->
            <video mat-card-image autoplay="true" loop="true" muted="true" webkit-playsinline="" playsinline="">
        <source src="//ak.p2.mango.com/mangoapp/videos/CATHE082018TRAVELSUIT/h264/video.mp4" type="video/mp4">
        <source src="//ak.p2.mango.com/mangoapp/videos/CATHE082018TRAVELSUIT/webm/video.webm" type="video/webm">
      </video>
            <mat-card-content>
                Whether your everyday business is about swift taxi commutes or regular flights, it’s essential to choose the right suit.
            </mat-card-content>
            <mat-card-footer>
                <button fxFlex mat-button color="accent">Ver ahora</button>
            </mat-card-footer>
        </mat-card>

        <mat-card fxFlex>
            <mat-card-header>
                <mat-card-title>“Together” FW18</mat-card-title>
                <mat-card-subtitle>Septiembre 2018 —FALL WINTER EDIT 2018 </mat-card-subtitle>
            </mat-card-header>
            <video mat-card-image autoplay="true" loop="true" muted="true" webkit-playsinline="" playsinline="">
        <source src="//ak.p2.mango.com/mangoapp/videos/CATSHEHE082018CAMPAIGN/h264/video.mp4" type="video/mp4">
        <source src="//ak.p2.mango.com/mangoapp/videos/CATSHEHE082018CAMPAIGN/webm/video.webm" type="video/webm"></video>
            <mat-card-content>
                Today we celebrate life. A life shared with the ones we choose. The ones we gather with us just to enjoy a tasty meal on a Sunday evening.
            </mat-card-content>
            <mat-card-footer>
                <button fxFlex mat-button disabled color="accent">Ver ahora</button>
            </mat-card-footer>
        </mat-card>
    </div>

</div>